body{
    margin: 0;
    padding: 0;
    font-family: "montserrat",sans-serif;
    max-height: 100vh;
    background: -webkit-linear-gradient(left top,#A9FFD6,#FF988A);
}

.container{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #343434;
}

.header{
    margin-top: 5%;
    text-align: center;
}

.header div{
    display: inline-block;
}

.text{  
    font-size: 45px;
    background: -webkit-linear-gradient(left top,#FF988A,#5962FF);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.container h1{
    font-size: 160px;
    margin-top: 80;
    font-weight: 900;
    letter-spacing: 20px;
    background: url(https://chu289.github.io/FoodMap/src/image/12373AD5-2D24-4051-957F-80126AFB3E6A.jpg)center no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.container a{
    text-decoration: none;
    background: #5962ff;
    color: #FFE580;
    padding: 12px 24px;
    display: inline-block;
    border-radius: 25px;
    font-size: 20px;
    text-transform: uppercase;
    transition: 0.4s;
}

.container a:hover{
    background: -webkit-linear-gradient(left top,#A9FFD6,#5962FF);
    color: #343434;
}